* {
    margin: 0;
    box-sizing: border-box;
    font-family: "CustomFont";
}

@font-face {
    font-family: "CustomFont";
    src: url("../fonts/RolexLight.woff2");
}

/* --------------------------- MOBILE VERSION ------------------------------ */
html, body {
    height: 100%;
    overflow: hidden; /* hide the default body scrollbar */
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-image: url("../icons/hydroponic-farm-1531761834v1g.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .cover {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 100px;
    left: 30px;
    right: 30px;
    height: 1300px;
    width: auto;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .pannel
  {
    background-color: grey;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    width: 25%;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .pannelHeading
  {
    position:absolute;
    top:20px;
    text-align: center;
  }
  .LogoutBtn {
    width: 10%;
    height: 3em;
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: rgb(32, 177, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
  }
  
  .LogoutBtn:hover {
    transform: scale(1.1);
  }
  
  .pHPlot {
    position: absolute;
    top: 50px;
    left: 30px;
  }
  
  .pHHeading {
    text-align: center;
  }
  
  .ECPlot {
    position: absolute;
    top: 450px;
    left: 30px;
  }
  
  .ECHeading {
    text-align: center;
  }
  
  .tempPlot {
    position: absolute;
    top: 50px;
    left: 675px;
  }
  
  .tempHeading {
    text-align: center;
  }
  
  .airTempPlot {
    position: absolute;
    top: 450px;
    left: 675px;
  }
  
  .airTempHeading {
    text-align: center;
  }
  
  .lightPlot {
    position: absolute;
    top: 900px;
    left: 30px;
  }
  
  .lightHeading {
    text-align:center;
  }
  
  .hummidityPlot {
    position: absolute;
    top: 900px;
    left: 675px;
  }
  
  .hummidityHeading {
    text-align:center;
  }